In [1]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv('./data/Live_20210128.csv')
df.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,1,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,2,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,3,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,4,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,5,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN

Check if any feature contains Null values.

Drop all the features which have Null values.

Save 'status_type' as target variable.

Drop the feature "status_id", "status_type" and "status_published" from training set.

Use LabelEncoder to transform the target variable.

Use standard scaler to scale the features.

For Q4,Q5 Train the model using Kmeans clustering (Take Random state=10)

For Q6,Q7,Q8 Train the model using Agglomerative Clustering by setting the parameter as following

In [13]:
df.shape

(7050, 16)

In [54]:
df.isna().sum()

status_id              0
status_type            0
status_published       0
num_reactions          0
num_comments           0
num_shares             0
num_likes              0
num_loves              0
num_wows               0
num_hahas              0
num_sads               0
num_angrys             0
Column1             7050
Column2             7050
Column3             7050
Column4             7050
dtype: int64

In [55]:
df = df.drop(columns=['Column1','Column2','Column3','Column4'])

In [56]:
y = df['status_type']
X = df.drop(columns=['status_type', 'status_published','status_id'])

In [38]:
X.shape, y.shape

((7050, 9), (7050,))

In [57]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
le = LabelEncoder()
ss = StandardScaler()

In [28]:
y.unique()

array(['video', 'photo', 'link', 'status'], dtype=object)

In [58]:
y = le.fit_transform(y)

In [59]:
X = ss.fit_transform(X)

In [60]:
X.shape, y.shape

((7050, 9), (7050,))

In [42]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=2, random_state=10)

In [44]:
km.fit(X,y)
km.inertia_

48278.098242205444

In [48]:
km = KMeans(n_clusters=4, random_state=10)
y_pred = km.fit_predict(X,y)

In [49]:
np.where(y==y_pred)[0].shape

(4421,)

In [67]:
from sklearn.cluster import AgglomerativeClustering
agc = AgglomerativeClustering(n_clusters=4,affinity='euclidean',linkage='ward')

In [74]:
y_pred = agc.fit_predict(X,y)

In [75]:
agc.labels_

array([3, 3, 3, ..., 3, 3, 3], dtype=int64)

In [76]:
agc.n_leaves_

7050

In [78]:
from sklearn.metrics import classification_report
print(classification_report(y, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        63
           1       0.04      0.00      0.00      4288
           2       0.20      0.21      0.20       365
           3       0.31      0.83      0.45      2334

    accuracy                           0.28      7050
   macro avg       0.13      0.26      0.16      7050
weighted avg       0.13      0.28      0.16      7050

The dataset contains 9471 instances of hourly averaged responses from an array of 5 metal oxide chemical sensors embedded in an Air Quality Chemical Multisensor Device. The device was located on the field in a significantly polluted area, at road level,within an Italian city. Data were recorded from March 2004 to February 2005 (one year)representing the longest freely available recordings of on field deployed air quality chemical sensor devices responses. Ground Truth hourly averaged concentrations for CO, Non Metanic Hydrocarbons, Benzene, Total Nitrogen Oxides (NOx) and Nitrogen Dioxide (NO2) and were provided by a co-located reference certified analyzer.

In [97]:
df = pd.read_csv('./data/AirQualityUCI.csv')
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10-03-2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,10-03-2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,10-03-2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,10-03-2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,10-03-2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN

### Attributes:

Date (DD/MM/YYYY)  
Time (HH.MM.SS)  
True hourly averaged concentration CO in mg/m^3 (reference analyzer)  
PT08.S1 (tin oxide) hourly averaged sensor response (nominally CO targeted)  
True hourly averaged overall Non Metanic HydroCarbons concentration in microg/m^3 (reference analyzer)  
True hourly averaged Benzene concentration in microg/m^3 (reference analyzer)  
PT08.S2 (titania) hourly averaged sensor response (nominally NMHC targeted)  
True hourly averaged NOx concentration in ppb (reference analyzer)  
PT08.S3 (tungsten oxide) hourly averaged sensor response (nominally NOx targeted)  
True hourly averaged NO2 concentration in microg/m^3 (reference analyzer)  
PT08.S4 (tungsten oxide) hourly averaged sensor response (nominally NO2 targeted)  
PT08.S5 (indium oxide) hourly averaged sensor response (nominally O3 targeted)  
Temperature in Â°C  
Relative Humidity (%)  
AH Absolute Humidity

### Information for questions 1 and 2 and 3.
Load the AirQualityUCI dataset.  
Drop 'Date', 'Time', 'Unnamed: 15', 'Unnnamed: 16' columns.  
Drop all the rows which has at-least one missing value.

In [98]:
df= df.drop(columns=['Date', 'Time', 'Unnamed: 15', 'Unnamed: 16']).dropna()

In [114]:
df.shape

(9357, 13)

The task is to predict the absolute humidity at a particular time based on other features. So, we will have AH as the target variable. Under which category does this task fall?

In [100]:
df.AH

0       0.7578
1       0.7255
2       0.7502
3       0.7867
4       0.7888
         ...
9352    0.7568
9353    0.7119
9354    0.6406
9355    0.5139
9356    0.5028
Name: AH, Length: 9357, dtype: float64

Real numbers, so regression

In [104]:
y = df.AH
X = df.drop(columns=['AH'])

In [113]:
X.shape, y.shape

((9357, 12), (9357,))

What is the value of correlation co-efficient between temperature (T) and relative humidity (RH)?

In [103]:
df.corr()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
CO(GT),1.000000,0.041411,0.128351,-0.031378,0.029926,0.526451,-0.089981,0.671127,-0.073724,0.080310,-0.068939,-0.048227,-0.045892
PT08.S1(CO),0.041411,1.000000,0.170007,0.852687,0.933102,0.277993,0.087019,0.154030,0.845149,0.892434,0.754844,0.745375,0.764903
NMHC(GT),0.128351,0.170007,1.000000,0.037323,0.110104,-0.004427,0.048821,0.103307,0.162680,0.101185,-0.000009,0.008284,0.012500
C6H6(GT),-0.031378,0.852687,0.037323,1.000000,0.767433,-0.001174,0.512193,-0.010992,0.774673,0.641334,0.971375,0.925062,0.984555
PT08.S2(NMHC),0.029926,0.933102,0.110104,0.767433,1.000000,0.331272,-0.073667,0.176488,0.874782,0.909905,0.669025,0.585803,0.646572
NOx(GT),0.526451,0.277993,-0.004427,-0.001174,0.331272,1.000000,-0.436084,0.817139,0.035546,0.461889,-0.138452,-0.053009,-0.095847
PT08.S3(NOx),-0.089981,0.087019,0.048821,0.512193,-0.073667,-0.436084,1.000000,-0.256232,0.122734,-0.208865,0.588111,0.573549,0.621618
NO2(GT),0.671127,0.154030,0.103307,-0.010992,0.176488,0.817139,-0.256232,1.000000,-0.022174,0.253439,-0.084104,-0.081305,-0.060440
PT08.S4(NO2),-0.073724,0.845149,0.162680,0.774673,0.874782,0.035546,0.122734,-0.022174,1.000000,0.723690,0.755060,0.640707,0.691913
PT08.S5(O3),0.080310,0.892434,0.101185,0.641334,0.909905,0.461889,-0.208865,0.253439,0.723690,1.000000,0.503700,0.524955,0.519467
T,-0.068939,0.754844,-0.000009,0.971375,0.669025,-0.138452,0.588111,-0.084104,0.755060,0.503700,1.000000,0.885911,0.981001
RH,-0.048227,0.745375,0.008284,0.925062,0.585803,-0.053009,0.573549,-0.081305,0.640707,0.524955,0.885911,1.000000,0.943995
AH,-0.045892,0.764903,0.012500,0.984555,0.646572,-0.095847,0.621618,-0.060440,0.691913,0.519467,0.981001,0.943995,1.000000

### Instructions for questions 4  
Separate features and target variable.  
split the dataset into training and test dataset in 80:20 proportion with "random_state=1"  
Create a pipeline with scaler as StandardScaler and classifier as MLPRegressor.  
Classifier should have the following properties:  
Classifier should have three hidden layers with 50 neurons each.  
set  
```tol=1e-2, alpha=1e-4,solver="adam", learning_rate_init=0.1, max_iter=50, random_state=1```

In [108]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [110]:
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor
ss = StandardScaler()
mlp = MLPRegressor(hidden_layer_sizes=(50,50,50),tol=1e-2, alpha=1e-4,solver="adam", learning_rate_init=0.1, max_iter=50, random_state=1)

In [111]:
X_train_new = ss.fit_transform(X_train)
X_test_new = ss.transform(X_test)

In [112]:
X_test_new.shape

(1872, 12)

In [116]:
from sklearn.pipeline import Pipeline
pipe = Pipeline([('scaler', ss), ('regressor', mlp)])

In [117]:
pipe.fit(X_train_new, y_train)

Pipeline(steps=[('scaler', StandardScaler()),
                ('regressor',
                 MLPRegressor(hidden_layer_sizes=(50, 50, 50),
                              learning_rate_init=0.1, max_iter=50,
                              random_state=1, tol=0.01))])

In [118]:
from sklearn.metrics import r2_score

In [122]:
y_pred = pipe.predict(X_train_new)
r2_score(y_train, y_pred)

0.999992602958679

In [133]:
y_pred = pipe.predict(X_test_new)
r2_score(y_test, y_pred)

0.9999920781245708

In [134]:
pipe.predict(X_train_new[0].reshape(1, -1))

array([1.59775315])