In [1]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv('./data/Live_20210128.csv')
df.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,1,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,2,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,3,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,4,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,5,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN

Check if any feature contains Null values.

Drop all the features which have Null values.

Save 'status_type' as target variable.

Drop the feature "status_id", "status_type" and "status_published" from training set.

Use LabelEncoder to transform the target variable.

Use standard scaler to scale the features.

For Q4,Q5 Train the model using Kmeans clustering (Take Random state=10)

For Q6,Q7,Q8 Train the model using Agglomerative Clustering by setting the parameter as following

In [13]:
df.shape

(7050, 16)

In [54]:
df.isna().sum()

status_id              0
status_type            0
status_published       0
num_reactions          0
num_comments           0
num_shares             0
num_likes              0
num_loves              0
num_wows               0
num_hahas              0
num_sads               0
num_angrys             0
Column1             7050
Column2             7050
Column3             7050
Column4             7050
dtype: int64

In [55]:
df = df.drop(columns=['Column1','Column2','Column3','Column4'])

In [56]:
y = df['status_type']
X = df.drop(columns=['status_type', 'status_published','status_id'])

In [38]:
X.shape, y.shape

((7050, 9), (7050,))

In [57]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
le = LabelEncoder()
ss = StandardScaler()

In [28]:
y.unique()

array(['video', 'photo', 'link', 'status'], dtype=object)

In [58]:
y = le.fit_transform(y)

In [59]:
X = ss.fit_transform(X)

In [60]:
X.shape, y.shape

((7050, 9), (7050,))

In [42]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=2, random_state=10)

In [44]:
km.fit(X,y)
km.inertia_

48278.098242205444

In [48]:
km = KMeans(n_clusters=4, random_state=10)
y_pred = km.fit_predict(X,y)

In [49]:
np.where(y==y_pred)[0].shape

(4421,)

In [67]:
from sklearn.cluster import AgglomerativeClustering
agc = AgglomerativeClustering(n_clusters=4,affinity='euclidean',linkage='ward')

In [74]:
y_pred = agc.fit_predict(X,y)

In [75]:
agc.labels_

array([3, 3, 3, ..., 3, 3, 3], dtype=int64)

In [76]:
agc.n_leaves_

7050

In [78]:
from sklearn.metrics import classification_report
print(classification_report(y, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        63
           1       0.04      0.00      0.00      4288
           2       0.20      0.21      0.20       365
           3       0.31      0.83      0.45      2334

    accuracy                           0.28      7050
   macro avg       0.13      0.26      0.16      7050
weighted avg       0.13      0.28      0.16      7050